[Unit]
Description=PaxSpot Batch Clearing Keeper (%i)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
EnvironmentFile=/etc/price-submitter/%i.env
ExecStart=/usr/local/bin/batch_clearing_keeper.sh
Restart=always
RestartSec=10
Environment=PATH=/root/.foundry/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

[Install]
WantedBy=multi-user.target
